# Dependências
node_modules/
.npm

# Variáveis de ambiente
.env
.env.*
.env.local
.env.production
.env.staging
backend/.env
backend/.env.*
frontend/.env

# Chaves privadas
*.pem
*.key
*.p12
*.pfx
id_rsa
id_ed25519
*.secret

# Build
dist/
build/

# Prisma
backend/node_modules/

# OS
.DS_Store
Thumbs.db

# Vite
frontend/node_modules/
frontend/.vite/

# Logs
*.log
npm-debug.log*